.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
    
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.nav-list div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 150px;
    border-radius: 15px;
    background-color: lightgray;
}

.nav-list div:hover{
    background-color: white;
    cursor: pointer;
     transform: translateY(-10px); /* Moves the div up by 10px */
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */

}